@import "./utils/variables";
@import "./utils/global";
@import "./base/normalize";
@import "./components/header";
@import "./components/logo";
@import "./components/footer";
@import "./components/hero";
@import "./components/features";
@import "./components/about";
@import "./components/team";
@import "./components/regular-customers";
@import "./components/modal-of-index";
@import "./components/filters";
@import "./components/cards";
