.features__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: var(--fontcolorh3);
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}
.features {

}

.features__list {

    display: block;

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

.features__item {
    
    width: 100%;
    @media screen and (min-width:768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.features__icon-box {
    display: flex;
    margin-top: 0;
    height: 120px;
    //width: 270px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    background-color: var(--our-command-bg);
    align-items: center;
    border-radius: 4px;
    @media screen and (min-width:768px) {
            width: 354px;
    }
    
     @media screen and (min-width:1200px) {
            width: 270px;
    }
    color: var(--clients-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__icon {
    width: 70px;
    height: 70px;
    fill: currentColor;
    transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--fontcolorh3);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    @media screen and (max-width:767px) {
            text-align: center;
        }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fontcolordescrp);
        @media screen and (min-width:768px) {
                width: 354px;
            }
        
            @media screen and (min-width:1200px) {
                width: 270px;
            }
}