.filters {}
.filters__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 8px;
    margin-bottom: 50px;
}
.filters__item
{}
.filters__button {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;
    background-color: var(--greybtbn);
    color: var(--fontcolorh3);
    box-shadow: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
        &:hover,
        &:focus {
            background-color: var(--bluebtn);
            color: var(--whitetxt);
            box-shadow: var(--card-wrapper-shadow);
            }
}
