.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--whitetxt);
    background-color: var(--bannerclr);
    /*display: flex;
  flex-direction: column;*/
}

.footer-block-system {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    gap: 93px;
}

.footer-block {
    /*display: flex;*/
    flex-direction: column;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

/*.footer__link {
    display: inline-block;
    line-height: 1.14;
    text-decoration: none;
    font-style: normal;
    color: var(--whitetxt);
    vertical-align: middle;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

.address__footer {
    font-style: inherit;
}

.address-list
{
    .address-list_item {
        &:not(:last-child) 
        {
        margin-bottom: 9px;
        }
        &:nth-child(n + 2) 
        {
        color: var(--whitetxt);
        opacity: var(--opasity-const);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
.address-list-link 
{
    & {
        color: var(--whitetxt);
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 1.71;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        &:hover,
        &:focus,
        &:active {
            color: var(--bluetextclr);
        }
}

.social-links-hello {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.14;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

.social-links__item
{ }
/*.text-wrapper>.social-links-link,*/
.social-links__icon {
    & {
        width: 20px;
        height: 20px;
        fill: currentColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.social-links__link {
    & {color: var(--whitetxt);
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 1.71;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icons-bg-inactive);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;}
         &:hover,
         &:focus {
             background-color: var(--bluebtn);
         }
        &:hover .social-links__icon,
        &:focus .social-links__icon 
        {
                    fill: var(--whitetxt);
                }
    
}




.footer-block--concern {
    padding: 0;
    margin: 0;
    position: relative;
    top: 50%;
    right: 0;
}

.footer-block-hello {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.14;
}
.footer-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.footer-form__label {

}

.footer-form__input {
    & {
    margin-top: 0;
    margin-bottom: 0;
    /*10px*/
    width: 358px;
    height: 50px;
    border-radius: 4px;
    padding: 15px 16px 15px 16px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--whitetxt);
    outline: none;
    border: 1px solid var(--color-input-border);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
    border-color: var(--bluebtn);
    }
}



.footer-submit__button {
    & {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: var(--whitetxt);
    background-color: var(--bluebtn);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--button-to-order-box-shadow-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    }
        &:hover,
        &:focus {
            background-color: var(--button-to-order-active-clr);
        }
}

.footer-submit__icon {
    & {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .footer-submit__button:hover &,
        .footer-submit__button:focus & {
            fill: var(--whitetxt);
        }
}
