.header {
    border-bottom: 1px solid var(--header-frame-color);
}

.header-flex-box,
.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

.nav-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--fontcolorh3);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
    display: flex;

    gap: 50px;
}

.nav-list__item {
    &>.link
    {
        display: flex;
        padding: 32px 0px;
    }
    &>.link:hover,
    &>.link:active,
    &>.link:focus 
    {
        color: var(--bluetextclr);
    }
}

.contacts-list__item {
    & .link
    {display: flex;
    padding: 32px 0px;
    color: var(--fontcolordescrp);}

    &>.link:hover,
    &>.link:active,
    &>.link:focus 
    {
         color: var(--bluetextclr);
    }
}



.contacts-list__icon-link {
    width: auto;
    display: flex;
    align-items: center;
}
.contacts-list__envelope-icon
{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__smartphone-icon
{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.o-really-current {
    position: relative;
    &.current-page-link {
            /*display: block;*/
            color: var(--bluetextclr);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--bluebtn);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



