.hero {
    /*width: 100%;*/
    max-width: 1600px;
    background-color: var(--bannerclr);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-repeat: no-repeat;
    /*margin-top: 0;*/
    margin: 0 auto;
    background-position: center;
    background-image: linear-gradient(to top left,
            var(--gradient-start-hero),
            var(--gradient-end-hero)),
        url('../images/banner-studio-img-1.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: scroll;
    /*fixed;*/
}

.hero__title {
    margin-top: 0;
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    letter-spacing: 0.06em;
    font-weight: 900;
    color: var(--whitetxt);
    line-height: 1.36;
}

.hero__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    font-family: inherit;
    color: var(--whitetxt);
    /*border-collapse: collapse;*/
    border: none;
    background-color: var(--bluebtn);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--button-to-order-box-shadow-color);
    font-size: 16px;
    /*width: 216px;*/
    /*height: 50px;*/
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-to-order-active-clr);
}