.hero {
    /*width: 100%;*/
    max-width: 480px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-color: var(--bannerclr);

    text-align: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    @include backgr-image-and-grad ('../images/hero-img-mob.jpg');
    @include multy-img2x ('../images/hero-img-mob@2x.jpg');
   
    background-repeat: none;
    background-size: cover;
    background-attachment: scroll;
    /*fixed;*/
    @media screen and (min-width:768px) {
        max-width: 768px;
        @include backgr-image-and-grad ('../images/hero-img-tablet.jpg');
        @include multy-img2x ('../images/hero-img-tablet@2x.jpg');
  
    }
         
    @media screen and (min-width:1200px){
    
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        @include backgr-image-and-grad ('../images/hero-img-desktop.jpg');
        @include multy-img2x ('../images/hero-img-desktop@2x.jpg');

        
    }

&__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
        
    
    letter-spacing: 0.06em;
    font-weight: 900;
    color: var(--whitetxt);
    max-width: 100%;
    font-size: 26px;
    line-height: 1.62;

    @media screen and (min-width:1200px){
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36; 
    }
    

}

&__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    font-family: inherit;
    color: var(--whitetxt);
    /*border-collapse: collapse;*/
    border: none;
    background-color: var(--bluebtn);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--button-to-order-box-shadow-color);
    font-size: 16px;
    /*width: 216px;*/
    /*height: 50px;*/
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

&__button:hover,
&__button:focus {
    background-color: var(--button-to-order-active-clr);
}

}