.regular-customers {
    margin-top: 0;
}

.regular-customers__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: var(--fontcolorh3);
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}


.regular-customers__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.regular-customer__item
{

}
.regular-customer__wrapper {
    /*border-top: none;*/
    margin-bottom: 0px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.regular-customer__link {
    margin-top: inherit;
    margin-bottom: inherit;
    border-color: var(--clients-color);
    height: 92px;
    width: 170px;
    border-radius: 4px;
    border: 1px solid var(--clients-color);
    color: var(--clients-color);
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer__link .regular-customer__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer__link:hover,
.regular-customer__link:focus {
    color: var(--bluetextclr);
    border-color: var(--bluetextclr);
}

.regular-customer__link:hover>.regular-customer__icon,
.regular-customer__link:focus>.regular-customer__icon {
    fill: currentColor;
}