
.team {
    background-color: var(--our-command-bg);
    margin-top: 0;
    width: 100%;
    /*padding-top: 0;*/
}

.team__title
{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: var(--fontcolorh3);
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.team__list {
    display: flex;
    gap: 30px;
    //flex-direction: row;
            @media screen and (max-width:767px) {
                    flex-direction: column;
                }
            
                @media screen and (min-width:768px) {
                    flex-wrap: wrap;
                }
            
                @media screen and (min-width:1200px) {
                    flex-direction: row;
                }
}

.team__wrapper {
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    //width: 270px;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--card-wrapper-shadow);
    border-top: none;
    text-align: center;
    background: var(--white-bg);
    @media screen and (min-width:768px) {
            width: 354px;
        }
    
    @media screen and (min-width:1200px) {
            width: 270px;
        }

    & .social-links__link {
            color: var(--icons-social-grey);
        }
/*.social-links__link описаний в _footer.scss*/
    }

.team__item
{

}
.team__image
{
   // width: 270px;
   // height: 260px;
}
.team__person-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--fontcolorh3);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team__person-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: var(--fontcolordescrp);
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}