html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--white-bg);
    font-family: var(--mainfont);
    font-size: 14px;
    color: var(--fontblack);
    /*--fontcolordescrp*/
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.no-marker-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 2px solid tomato; /*Репета-стайл*/
}
.section-paddings-px {
    /*.section згідно ТЗ!*/
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
    /*margin-left: 0px;
  margin-right: 0px;*/
    /*outline: 2px solid palegreen; /*Репета-стайл*/
}

.all-big-chars {
    text-transform: uppercase;
}
